<div class="row">
  <div class="col-md-12">
    <div [(ngModel)]="radioModel" (ngModelChange)="onCategoryChanged($event)" ngbRadioGroup class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
      <label *ngFor="let category of categories" ngbButtonLabel class="btn btn-outline-success">
        <input ngbButton type="radio" value="{{category.value}}"> {{category.title}}
      </label>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <input type="text" class="search" placeholder="输入基金编号或名称..." (keyup)="onSearch($event)"/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{ date }}
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
      <nb-card-footer>
        <b>总计: {{ source.count() }}</b>
      </nb-card-footer>
    </nb-card>
  </div>
</div>