<div class="row">
    <div class="col-md-12">
        <ngx-fund-category-group (categoryChange)="onCategoryChanged($event)"></ngx-fund-category-group>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                {{ date }}
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
            <nb-card-footer>
                <b>总计: {{ source.count() }}</b>
            </nb-card-footer>
        </nb-card>
    </div>
</div>